/*estilos generales*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color:white;
}

/* estilos header */

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
}

.menu ul li{
    display: inline-block;
    padding: 5px;
    text-decoration: underline;
    
}

.menu a{
    text-decoration: none;
    color: #888888;
    font-size: 1.3rem;
    font-weight: bold;
}

.menu a:hover{
    text-decoration: underline;
    color: black;
    background-color:#FDE14C ;
    border: 1px solid #1D2C35;
}

/* estilos portada */

.portada{
    background-color: whitesmoke;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.portada h1{
    margin-bottom: 1rem;
    color: #1D2C35;
    text-shadow: 2px 2px #ffffff;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: 'Roboto Mono', monospace;
}

.portada img{
    margin-bottom: 1rem;
}

.boton{
    text-align: center;
    width: 50%;
    color: #1D2C35;
    text-shadow: #1D2C35;
    margin-top: 0.5rem;
    background-color: #FDE14C;
    font-size: 20px;
    border: 2px solid #1D2C35;
    padding: 0.5rem; 
}

.boton:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px black;
}

#info .encabezado{
    display: flex;
    justify-content: center;
}

@media (max-width: 575px){
    header{
        flex-direction: column;
    }

    .portada{
        flex-direction: column;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px){
    header{
        flex-direction: column;
    }

    .portada{
        flex-direction: column;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    header{
        flex-direction: column;
    }

    .portada{
        flex-direction: column;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px){
    .sectionInfo{
        padding: 1rem;
        height: 100vh;
        display: grid;
        grid-template-areas: "column-1" 
                             "column-2"
                             "boton-info";
        justify-content: center;
        align-content: center;
    }

    .column-1 p{
        font-size: 1.1rem;
        text-align: center;
        font-weight: bold;
        letter-spacing: 0.13rem;
    }
}

/* estilos info */
#info{
    margin: 4rem;
    
    background-color: #D8EEE1;
}

.sectionInfo{
    padding: 1rem;
    height: 90vh;
    display: grid;
    grid-template-columns: 0.6fr auto;
    grid-template-areas: "column-1 column-2"
                         "boton-info column-2";
    justify-content: center;
    align-content: center;
}

.column-1{
    grid-area: column-1;
}

.column-1 p{
    font-size: 1.3rem;
    text-align: center;
    font-weight: bold;
    padding: 0.5rem;
    letter-spacing: 0.13rem;
}

.column-1 p span{
    background-color: #FDE14C;
}

.boton-info{
    margin: 0 auto;
    width: 6rem;
    overflow: hidden;
    color: #1D2C35;
    text-shadow: #1D2C35;
    margin-top: 0.5rem;
    background-color: #FDE14C;
    font-size: 13px;
    font-weight: lighter;
    border: 2px solid #1D2C35;
    padding: 0.5rem;
}

.column-2{
    grid-area: column-2;
}

.column-2 img{
    width: 500px;
}

.boton-info{
    grid-area: boton-info;
}
@media (max-width: 575px){
    #info{
        margin: 0.3rem;
        background-color: #D8EEE1;
    }

    .sectionInfo{
        padding: 1rem;
        height: 90vh;
        display: grid;
        grid-template-areas: "column-1" 
                             "column-2"
                             "boton-info";
        justify-content: center;
        align-content: center;
    }

    .column-1 p{
        font-size: 1rem;
        text-align: center;
        font-weight: bold;
        padding: 0.5rem;
        letter-spacing: 0.13rem;
    }

    .boton-info{
        font-size: 0.7rem;
        text-align: center;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px){
    #info{
        margin: 1rem;
        background-color: #D8EEE1;
    }

    .sectionInfo{
        padding: 1rem;
        height: 90vh;
        display: grid;
        grid-template-areas: "column-1" 
                             "column-2"
                             "boton-info";
        justify-content: center;
        align-content: center;
    }

    .column-1 p{
        font-size: 1rem;
        text-align: center;
        font-weight: bold;
        padding: 0.5rem;
        letter-spacing: 0.13rem;
    }

    .boton-info{
        font-size: 0.7rem;
        text-align: center;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    #info{
        margin: 1rem;
        background-color: #D8EEE1;
    }

    .sectionInfo{
        padding: 1rem;
        height: 100vh;
        display: grid;
        grid-template-areas: "column-1" 
                             "column-2"
                             "boton-info";
        justify-content: center;
        align-content: center;
    }

    .column-1 p{
        font-size: 1rem;
        text-align: center;
        font-weight: bold;
        padding: 0.5rem;
        letter-spacing: 0.13rem;
    }

    .boton-info{
        font-size: 0.7rem;
        text-align: center;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px){
    .sectionInfo{
        padding: 1rem;
        height: 100vh;
        display: grid;
        grid-template-areas: "column-1" 
                             "column-2"
                             "boton-info";
        justify-content: center;
        align-content: center;
    }

    .column-1 p{
        font-size: 1.1rem;
        text-align: center;
        font-weight: bold;
        letter-spacing: 0.13rem;
    }
}



/* clases */

#clases {
    background-color: whitesmoke;
    margin: 4rem;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 0.5fr;
    justify-items: center;
    gap: 25px;
}

#clases div{
    margin-top: 1rem;
    background-color: #f9dda2 ;
    width: 400px;
    height: 450px;
    padding: 1rem;
    border: 1px solid #1D2C35;
    font-weight: bold;
}

#clases div h2{
    font-weight: bolder;
}

#clases div .boton-clase {
    width: 10rem;
    overflow: hidden;
    color: #1D2C35;
    text-shadow: #1D2C35;
    margin-top: 0.2rem;
    background-color: #FDE14C;
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid #1D2C35;
    padding: 0.5rem;

}

#clases div .boton-clase:hover{
    transform: scale(1.01);
    box-shadow: 2px 2px black;
    background-color: #FFF89A;
    color: black;
}

#clases section{
    grid-column-start: 1;
    grid-column-end: 4;
}


@media (max-width: 575px){
    #clases {
        background-color: whitesmoke;
        margin: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #clases div{
        margin-top: 0.5rem;
        margin-left: 1rem;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px){
    #clases {
        background-color: whitesmoke;
        
        margin: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #clases div{
        margin-left: 1rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    #clases {
        margin: 0.5rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    #clases div{
        margin-left: 1rem;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1300px){
    #clases {
        margin: 0.5rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    #clases div{
        margin-left: 1rem;
    }
}

/*el host*/
#elHost{
    margin:4rem;
    background-color: #D8EEE1;
}

#elHost div{
    
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#elHost p{
    padding: 3rem;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'font-family: 'Montserrat'';
}

footer{
    padding: 1rem;
    text-align: center;
}

@media (max-width: 575px){

    #elHost{
        margin:0.5rem;
        
    }

    #elHost div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #elHost p{
        padding: 1rem;
        font-size: 1rem;  
    }

    #elHost div img{
        width: 80%;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px){
    #elHost{
        margin:0.5rem;
    }

    #elHost p{
        padding: 1rem;
        font-size: 1.2rem;  
    }
    #elHost div img{
        width: 85%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    #elHost{
        margin:0.5rem;
    }

    #elHost p{
        padding: 1rem;
        font-size: 1.2rem;  
    }
    #elHost div img{
        width: 76%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1300px){
    #clases {
        margin: 0.5rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    #clases div{
        margin-left: 1rem;
    }
}
